.lm-Widget.lm-TabBar {
    height: 10px !important;
}

.lm-TabBar-tab{
    height: 10px !important;
}

#sidebar,
#sidebar .my-button {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#sidebar:hover,
#sidebar:hover .my-button {
    opacity: 1;
}